<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="bg-cover lg:h-[50rem] md:h-[45rem] h-[30rem] bg-center w-full bg-no-repeat " style="background-image: url(../assets/images/bgimg.jpeg);">
    <nav class="hidden md:block">
      <ul class="flex justify-evenly w-[50%] mx-auto pt-2 font-medium cursor-pointe ">
        <li>Home</li>
        <li>About</li>
        <li>Contact Us</li>
        <li>Services</li>
      </ul>
    </nav>
    <div class=" text-start lg:mt-64 md:mt-52 lg:w-[40%] md:w-[50%] lg:me-32 md:me-5 md:ms-auto md:pb-28 mx-10 py-10">
      <p class=" md:text-7xl text-4xl font-bold   ">Travel Makes You Happier</p>
      <p class=" mt-5 text-[1.25rem] ">Travel makes us happy, because it promises us the self-discovery needed to reach the pinnacle of Abraham Maslow's view of the human hierarchy of needs.</p>
      <button class="bg-black py-2 px-8 mt-8 text-white font-semibold">READ MORE</button>
    </div>
    </div>
    <app-about-stidio></app-about-stidio>
    <app-mountain-section></app-mountain-section>
    <app-column></app-column>
    <app-background></app-background>
    <app-card></app-card>
  
</body>
</html>