<div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 mt-20 lg:mx-20 gap-5">
  <div>
    <div class="items-center text-center  md:mx-5  lg:ms-[12rem]">
        <img src="../../assets/images/girl-img.jpg" alt="" class="h-80 max-w-80 object-cover mx-auto px-auto  ">
        <p class=" text-lg mt-3 ">BREATHE IN INSPIRATION</p>
    </div>
  </div>
  <div>
    <div class="lg:w-[70%] mb-44 lg:ms-16 md:me-5 mx-5">
        <p class="text-5xl font-bold">about studio</p>
        <p class="text-base mt-5">Part home studio, part design consultancy, and full of hidden wonders, our small boutique atelier, located in the middle of Downtown Greenville, houses a variety of exquisite furniture and charming, just-offbeat-enough tchotchkes, including statement pieces, wall coverings, curated art.</p>

    </div>
  </div>
</div>
 