<div class="grid lg:grid-cols-2 md:px-32 px-10 my-24 gap-5">
    <div class="my-36">
        <p class="text-lg ">BEST PRICE GUARANTEE</p>
        <p class="text-5xl font-bold my-7">find your adventure</p>
        <p>Enjoy a choice of guided day hikes and evenings spent in comfortable accommodations. Thinking about a hiking vacation? Join us for a mountain hiking adventure tour amidst the world’s most thrilling landscapes!
        </p>
    </div>
    <div class="grid md:grid-cols-2 gap-3">
        <div class="text-center items-center">
            <div class="bg-yellow-400 rounded-full h-16 w-16 flex items-center justify-center mx-auto">
                <img src="../../assets/images/mountains-mountain-svgrepo-com.svg" alt="" class="w-9 h-9">
            </div>
            <p class="text-lg my-5 font-medium">POPULAR TREKS</p>
            <p class="">Nunc sem ante, laoreet eu volutpat dignissim, sodales sed justo  tellus est</p>

        </div>
        <div class="text-center items-center md:my-0 my-7">
            <div class="bg-yellow-400 rounded-full h-16 w-16 flex items-center justify-center mx-auto md:my-0 ">
                <img src="../../assets/images/computer-and-people-svgrepo-com.svg" alt="" class="w-9 h-9">
            </div>
            <p class="text-lg my-5 font-medium">POPULAR TREKS</p>
            <p class="">Nunc sem ante, laoreet eu volutpat dignissim, sodales sed justo  tellus est</p>

        </div>
        <div class="text-center items-center md:my-0 my-7">
            <div class="bg-yellow-400 rounded-full h-16 w-16 flex items-center justify-center mx-auto  ">
                <img src="../../assets/images//man-outline-svgrepo-com.svg" alt="" class="w-9 h-9">
            </div>
            <p class="text-lg my-5 font-medium">About Us</p>
            <p class="">Nunc sem ante, laoreet eu volutpat dignissim, sodales sed justo  tellus est</p>

        </div>
        <div class="text-center items-center ">
            <div class="bg-yellow-400 rounded-full h-16 w-16 flex items-center justify-center mx-auto">
                <img src="../../assets/images/page-svgrepo-com.svg" alt="" class="w-9 h-9">
            </div>
            <p class="text-lg my-5 font-medium">RESERVATIONS</p>
            <p class="">Nunc sem ante, laoreet eu volutpat dignissim, sodales sed justo  tellus est</p>

        </div>
          

    </div>
</div>
